In [1]:
import pandas as pd

In [2]:
recipes = pd.read_csv('./recipes.csv')
requests = pd.read_csv('./requests.csv')
reviews = pd.read_csv('./reviews.csv')
diet = pd.read_csv('./diet.csv')

/tmp/ipykernel_427/1080874631.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  reviews = pd.read_csv('./reviews.csv')

In [10]:
recipes.head()

,RecipeId,Name,CookTime,PrepTime,RecipeCategory,RecipeIngredientQuantities,RecipeIngredientParts,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"c(""\""6\"""", ""\""2\"""", ""\""1 1/2\"""", ""\""1/4\"""", ""\...","c(""\""hazelnuts\"""", ""\""broccoli florets\"""", ""\""...",241.3,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
1,365718,Cashew-chutney Rice,3600,600,Other,"c(""\""1\"""", ""\""3/4\"""", ""\""6\"""", ""\""5\"""", ""\""2\""...","c(""\""celery\"""", ""\""onion\"""", ""\""butter\"""", ""\""...",370.8,17.5,7.2,22.9,553.3,44.3,1.6,2.2,9.4,8.0,NaN
2,141757,Copycat Taco Bell Nacho Fries BellGrande,3600,2700,Other,"c(""\""3\"""", ""\""1/2\"""", ""\""1\"""", ""\""1\"""", ""\""3\""...","c(""\""Copycat Taco Bell Seasoned Beef\"""", ""\""ye...",377.6,20.9,10.5,45.7,1501.8,36.6,3.8,6.1,12.9,8.0,NaN
3,280351,Slow Cooker Jalapeno Cheddar Cheese Soup,18000,1800,Other,"c(""\""2\"""", ""\""1\"""", ""\""2\"""", ""\""2\"""", ""\""1\"""",...","c(""\""unsalted butter\"""", ""\""yellow onion\"""", ""...",282.8,16.5,10.3,50.5,630.2,22.8,2.3,2.7,11.7,6.0,NaN
4,180505,Cool & Crisp Citrus Chiffon Pie,3600,1800,Other,"c(""\""1\"""", ""\""1/4\"""", ""\""1/2\"""", ""\""1/2\"""", ""\...","c(""\""unflavored gelatin\"""", ""\""water\"""", ""\""su...",257.5,8.6,2.4,110.7,160.9,39.8,0.4,30.2,6.3,6.0,NaN

In [9]:
requests.head()

,AuthorId,RecipeId,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,2001012259B,73440,1799.950949,0.0,Indifferent,0,0,0
1,437641B,365718,4201.820980,0.0,Yes,0,Indifferent,1
2,1803340263D,141757,6299.861496,0.0,Indifferent,1,Indifferent,0
3,854048B,280351,19801.365796,0.0,Yes,1,0,1
4,2277685E,180505,5400.093457,0.0,Indifferent,0,0,0

In [8]:
reviews.head()

      AuthorId  RecipeId  Rating Like  TestSetId
0     2492191A     33671     2.0  NaN        1.0
1  2002019979A     92647     2.0  NaN        2.0
2      408594E    161770     NaN  NaN        3.0
3  2001625557E    108231     2.0  NaN        4.0
4  2001427116E     71109     NaN  NaN        5.0

In [7]:
diet.head()

    AuthorId        Diet  Age
0  10000120E  Vegetarian   46
1   1000014D       Vegan   18
2   1000015A  Vegetarian   58
3   1000016E  Vegetarian   32
4   1000027E       Vegan   61

In [39]:
# join recipes and requests
joined = recipes.merge(reviews, on='RecipeId', how='inner')

# join with diet
joined = joined.merge(diet, on='AuthorId', how='inner')

# join with requests
all = joined.merge(requests, on=['RecipeId', 'AuthorId'], how='inner')

0          1548.0
1          1547.0
2          2069.0
3          2070.0
4          2152.0
           ...
140157     6587.0
140161    41225.0
140168     2361.0
140171    41081.0
140173    12203.0
Name: TestSetId, Length: 42814, dtype: float64

In [43]:
all.head()

,RecipeId,Name,CookTime,PrepTime,RecipeCategory,RecipeIngredientQuantities,RecipeIngredientParts,Calories,FatContent,SaturatedFatContent,...,Like,TestSetId,Diet,Age,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"c(""\""6\"""", ""\""2\"""", ""\""1 1/2\"""", ""\""1/4\"""", ""\...","c(""\""hazelnuts\"""", ""\""broccoli florets\"""", ""\""...",241.3,10.1,1.2,...,NaN,1548.0,Omnivore,34,1800.709345,0.0,Indifferent,0,0,1
1,243768,Pepper Jelly Chicken Roll Ups,480,0,Other,"c(""\""1/4\"""", ""\""4\"""", ""\""1/4\"""", ""\""2\"""")","c(""\""skinless chicken breasts\"""", ""\""olive oil...",365.2,5.6,1.2,...,NaN,1547.0,Omnivore,34,478.844112,0.0,Yes,1,Indifferent,0
2,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"c(""\""6\"""", ""\""2\"""", ""\""1 1/2\"""", ""\""1/4\"""", ""\...","c(""\""hazelnuts\"""", ""\""broccoli florets\"""", ""\""...",241.3,10.1,1.2,...,NaN,2069.0,Omnivore,22,1797.825626,0.0,Yes,0,Indifferent,1
3,32618,Sharon's Best Rib-Eye Steaks,600,4200,Other,"c(""\""4\"""", ""\""1\"""", ""\""1\"""", ""\""2\"""", ""\""2\"""",...","c(""\""olive oil\"""", ""\""paprika\"""", ""\""garlic cl...",21.7,1.9,0.3,...,NaN,2070.0,Omnivore,22,4798.727142,1.0,Indifferent,1,0,0
4,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"c(""\""6\"""", ""\""2\"""", ""\""1 1/2\"""", ""\""1/4\"""", ""\...","c(""\""hazelnuts\"""", ""\""broccoli florets\"""", ""\""...",241.3,10.1,1.2,...,NaN,2152.0,Omnivore,44,1800.440504,1.0,Indifferent,0,0,0

In [60]:
mapping = {
    'RecipeCategory': 'string',
    'RecipeIngredientQuantities': 'string',
    'RecipeIngredientParts': 'string',
    'Name': 'string',
    'AuthorId': 'string',
    'Like': 'bool',
    'Diet': 'string',
    'HighCalories': 'bool',
    'HighProtein': 'string',
    'LowFat': 'bool',
    'LowSugar': 'string',
    'HighFiber': 'bool'
}
df = all.astype(mapping)

0         c("\"hazelnuts\"", "\"broccoli florets\"", "\"...
1         c("\"skinless chicken breasts\"", "\"olive oil...
2         c("\"hazelnuts\"", "\"broccoli florets\"", "\"...
3         c("\"olive oil\"", "\"paprika\"", "\"garlic cl...
4         c("\"hazelnuts\"", "\"broccoli florets\"", "\"...
                                ...
140190    c("\"onion\"", "\"garlic clove\"", "\"artichok...
140191    c("\"fresh cranberries\"", "\"white sugar\"", ...
140192    c("\"black beans\"", "\"water\"", "\"bay leave...
140193    c("\"top round steak\"", "\"cornstarch\"", "\"...
140194    c("\"arborio rice\"", "\"white wine\"", "\"gar...
Name: RecipeIngredientParts, Length: 140195, dtype: string

In [62]:
df['RecipeIngredientParts'] = df['RecipeIngredientParts'].apply(lambda x: x.replace('\\','').replace('"','').replace('c(', '').replace(')',''))
df['RecipeIngredientQuantities'] = df['RecipeIngredientQuantities'].apply(lambda x: x.replace('\\','').replace('"','').replace('c(', '').replace(')',''))

0         6, 2, 1 1/2, 1/4, 1/2, 4, 1 1/2, 1 1/2, 5, 12
1                                        1/4, 4, 1/4, 2
2         6, 2, 1 1/2, 1/4, 1/2, 4, 1 1/2, 1 1/2, 5, 12
3                      4, 1, 1, 2, 2, 2, 1 1/2, 1, 1, 1
4         6, 2, 1 1/2, 1/4, 1/2, 4, 1 1/2, 1 1/2, 5, 12
                              ...
140190                        1, 1, 1/2, 2, 3, 1 1/2, 1
140191                4, 1, 3/4, 1/2, 1/2, 2, 1, 1, 1/2
140192                            2, 6 -8, 5, 1/2, 2, 2
140193                      1/2, 1, 1/8, 1/8, 1, 1/2, 1
140194                      1, 3/4, 4, 1, 1, 1, 1, 2, 2
Name: RecipeIngredientQuantities, Length: 140195, dtype: object

In [68]:
df.head()

,RecipeId,Name,CookTime,PrepTime,RecipeCategory,RecipeIngredientQuantities,RecipeIngredientParts,Calories,FatContent,SaturatedFatContent,...,Like,TestSetId,Diet,Age,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"6, 2, 1 1/2, 1/4, 1/2, 4, 1 1/2, 1 1/2, 5, 12","hazelnuts, broccoli florets, fresh parsley lea...",241.3,10.1,1.2,...,True,1548.0,Omnivore,34,1800.709345,False,Indifferent,False,0,True
1,243768,Pepper Jelly Chicken Roll Ups,480,0,Other,"1/4, 4, 1/4, 2","skinless chicken breasts, olive oil",365.2,5.6,1.2,...,True,1547.0,Omnivore,34,478.844112,False,Yes,True,Indifferent,False
2,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"6, 2, 1 1/2, 1/4, 1/2, 4, 1 1/2, 1 1/2, 5, 12","hazelnuts, broccoli florets, fresh parsley lea...",241.3,10.1,1.2,...,True,2069.0,Omnivore,22,1797.825626,False,Yes,False,Indifferent,True
3,32618,Sharon's Best Rib-Eye Steaks,600,4200,Other,"4, 1, 1, 2, 2, 2, 1 1/2, 1, 1, 1","olive oil, paprika, garlic cloves, dried thyme...",21.7,1.9,0.3,...,True,2070.0,Omnivore,22,4798.727142,True,Indifferent,True,0,False
4,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"6, 2, 1 1/2, 1/4, 1/2, 4, 1 1/2, 1 1/2, 5, 12","hazelnuts, broccoli florets, fresh parsley lea...",241.3,10.1,1.2,...,True,2152.0,Omnivore,44,1800.440504,True,Indifferent,False,0,False

In [ ]:
train_all = all[all['TestSetId'].isna()]
test = all[all['TestSetId'].notna()]